@import './reset';
@import './variables';

@import '../components/SearchSection/index';
@import '../components/ResultsSection/index';

.searchx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #bdc1c6;

  background-color: var(--bg-dark);

  &__search {
    @include SearchSection();
  }

  &__results {
    @include ResultsSection();
  }
}