html,
body,
div,
span,
section,
input,
a {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

a {
  color: #8ab4f8;
  font-size: inherit;
  text-decoration: none;
}

a:visited {
  color: #c58af9;
}

:root {
  --text-light: #e8eaed;
  --text-history: #c58af9;
  --bg-dark: #202124;
  --bg-dark-selected: #303134;
  --bg-medium-selected: #3e3f42;
  --border-light: #5f6368;
}

.searchx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #bdc1c6;
  background-color: var(--bg-dark);
}

.searchx__search {
  width: 100%;
  padding: 1% 0 12% 0;
}

.searchx__search--minimized {
  padding: 1.5% 0 60px 0px;
  border-bottom: 1px solid #3c4043;
}

.searchx__search--minimized .searchx__search__input-wrapper {
  width: 690px;
  float: left;
  margin: 0 auto 0 210px;
  background-color: var(--bg-dark-selected);
  border-color: var(--bg-dark-selected);
}

.searchx__search__input-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 584px;
  max-width: 95%;
  height: 45px;
  margin: 0 auto;
  padding: 0 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 45px;
  text-indent: 20px;
  border-radius: 24px;
  border: 1px solid #5f6368;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.searchx__search__input-wrapper:hover, .searchx__search__input-wrapper.focused {
  background-color: var(--bg-dark-selected);
  border-color: var(--bg-dark-selected);
}

.searchx__search__input-wrapper.focused {
  border-radius: 24px 24px 0 0;
}

.searchx__search__input-wrapper__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 60%;
  color: var(--text-light);
  text-indent: 10px;
  background-color: inherit;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.searchx__search__input-wrapper__input:hover {
  background-color: inherit;
}

.searchx__search__input-wrapper__input:focus {
  outline: none;
}

.searchx__search__input-wrapper__icon {
  display: block;
  width: 20px;
  height: 20px;
}

.searchx__search__input-wrapper__icon--microphone {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.searchx__search__input-wrapper__icon--close {
  margin: 0 10px;
  padding: 0 10px;
  border-right: 1px solid var(--border-light);
  cursor: pointer;
}

.searchx__search__input-wrapper__list-wrapper {
  position: absolute;
  top: 100%;
  left: -1px;
  width: 100%;
  max-height: 300px;
  padding-bottom: 25px;
  background-color: var(--bg-dark-selected);
  border: 1px solid var(--bg-dark-selected);
  border-radius: 0 0 20px 20px;
}

.searchx__search__input-wrapper__list-wrapper:before {
  content: '';
  display: block;
  width: 94%;
  height: 1px;
  margin: 0 auto 5px auto;
  background-color: var(--border-light);
}

.searchx__search__input-wrapper__list-wrapper__ac-item {
  position: relative;
  height: 30px;
  padding-left: 14px;
  line-height: 30px;
  font-family: inherit;
  color: var(--text-light);
}

.searchx__search__input-wrapper__list-wrapper__ac-item--history {
  color: var(--text-history);
}

.searchx__search__input-wrapper__list-wrapper__ac-item__icon {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  padding-top: 5px;
}

.searchx__search__input-wrapper__list-wrapper__ac-item__icon--remove {
  position: absolute;
  top: 0;
  right: 20px;
}

.searchx__search__input-wrapper__list-wrapper__ac-item__remove {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 0.825rem;
  color: #aaadb2;
  cursor: pointer;
}

.searchx__search__input-wrapper__list-wrapper__ac-item__remove:hover {
  text-decoration: underline;
  color: #8ab4f8;
}

.searchx__search__input-wrapper__list-wrapper__ac-item__text {
  width: 100%;
  text-indent: 10px;
}

.searchx__search__input-wrapper__list-wrapper__ac-item:hover {
  background-color: var(--bg-medium-selected);
}

.searchx__results {
  width: 100%;
  height: 100vh;
  padding-left: 230px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: scroll;
}

.searchx__results__metabar {
  width: 100%;
  margin-bottom: 7px;
  font-family: Google Sans, arial, sans-serif;
  line-height: 43px;
  font-size: 0.875rem;
}

.searchx__results__container {
  width: 600px;
}

.searchx__results__container__search-result {
  margin-bottom: 30px;
}

.searchx__results__container__search-result__url {
  line-height: 23px;
  font-size: 0.875rem;
}

.searchx__results__container__search-result__url__anchor {
  color: #e8eaed !important;
}

.searchx__results__container__search-result__title {
  line-height: 31px;
  font-size: 1.25rem;
}

.searchx__results__container__search-result__description {
  line-height: 23px;
  font-size: 0.875rem;
}
/*# sourceMappingURL=index.css.map */