@import './AutoCompleteItem';

@mixin AutoCompleteList() {
  position: absolute;
  top: 100%;
  left: -1px;
  width: 100%;
  max-height: 300px;
  padding-bottom: 25px;

  background-color: var(--bg-dark-selected);

  border: 1px solid var(--bg-dark-selected);
  border-radius: 0 0 20px 20px;

  &:before {
    content: '';
    display: block;
    width: 94%;
    height: 1px;
    margin: 0 auto 5px auto;

    background-color: var(--border-light);
  }

  &__ac-item {
    @include AutoCompleteItem();
  }
}