@mixin AutoCompleteItem() {
  position: relative;
    height: 30px;
    padding-left: 14px;

    line-height: 30px;
    font-family: inherit;
    color: var(--text-light);

    &--history {
      color: var(--text-history);
    }

    &__icon {
      display: block;
      float: left;
      width: 20px;
      height: 20px;
      padding-top: 5px;

      &--remove {
        position: absolute;
        top: 0;
        right: 20px;
      }
    }

    &__remove {
      position: absolute;
      top: 0;
      right: 20px;

      font-size: 0.825rem;
      color: #aaadb2;

      cursor: pointer;

      &:hover {
        text-decoration: underline;
        color: #8ab4f8
      }
    }

    &__text {
      width: 100%;
      text-indent: 10px;
    }

    &:hover {
      background-color: var(--bg-medium-selected);
    }
}